{% extends "adminlte/common_list.html" %}
{% load static %}

{% block common_list_buttons %}
    {% if request.user and request.user.is_superuser %}
        <button class="btn btn-primary"
                v-on:click="create(event, 'notificationcontent')">
            <i class="fa fa-plus"></i>
            发布新通知
        </button>
    {% endif %}
    <button class="btn btn-danger"
            v-on:click="removeSelected">
        <i class="fa fa-trash-o"></i>
        删除
    </button>
{% endblock %}

{% block common_list_page_show_modify %}
{% endblock %}